<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/app.css">
  <title></title>
</head>
<body>
  <header>
    <img class="logo" src="https://i.imgur.com/TasFtEe.png" alt="Logo of mountains">
    <h3>MyTrip</h3>
  </header>

  <h2 class="title">My Trips</h2>
  <div class="content-wrapper">
    <% for(let i = 0; i < trips.length; i++) { %>
      <div class="trip-card">

        <div class="index-image">
          <img src="https://i.imgur.com/xH2U9ky.png" alt="cartoon picture of orange tent with mountains in backgroud">
          <!-- <a href="/trips/<%=trips[i].id; %>">
          <img class="pics" src="<%=trips[i].img; %>" alt="various images of national parks"> -->
        </div>
          <a href="/trips/<%=trips[i].id; %>">
          <h4 class="card-title"><%=trips[i].nationalpark; %></h4></a>

          <div class="card-middle">
            <p><strong>State:</strong> <%=trips[i].state; %></p>
            <p><strong>Season:</strong> <%=trips[i].season; %></p>
            <p class="word-wrap"><strong>Favorite Memory:</strong> <%=trips[i].memory; %></p>
          </div>


          <!-- This is a delete button to delete a trip entry -->
          <div class="indexpage-buttons">
            <form action="/trips/<%=trips[i].id; %>?_method=DELETE" method="POST">
              <input type="submit" name="" value="Delete">
            </form>
            <!-- This is an edit button to edit an trip entry -->
            <form action="/trips/<%=trips[i].id; %>/edit">
              <input type="submit" name="" value="Edit">
            </form>
          </div>

        </div>
        <% } %>
      </div>

      <div class="index-button">
        <form class="" action="/trips/new">
          <input type="submit" name="" value="Create New Trip">
        </form>
      </div>

      <footer class="index-footer">
        <div class="logo-info">
          <p>Created my free logo at <a href="https://logomakr.com/">LogoMakr.com</a></p>
        </div>
      </footer>

    </body>
    </html>
