<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <h1>Trips Index Page</h1>
  <% for(let i = 0; i < trips.length; i++) { %>
    <ul>
        <a href="/trips/<%=trips[i].id; %>">
        <li><%=trips[i].nationalpark; %></li></a>
        <li><%=trips[i].state; %></li>
        <li><%=trips[i].season; %></li>
        <li><%=trips[i].memory; %></li>
        <li><%=trips[i].img; %></li>
    </ul>

    <!-- This is a delete button to delete a trip entry -->
    <form action="/trips/<%=trips[i].id; %>?_method=DELETE" method="POST">
      <input type="submit" name="" value="Delete">
    </form>

    <!-- This is an edit button to edit an trip entry -->
    <form action="/trips/<%=trips[i].id; %>/edit">
      <input type="submit" name="" value="Edit">
    </form>

      <% } %>


    <form class="" action="/trips/new">
      <input type="submit" name="" value="Create New Trip">
    </form>
  </body>
  </html>
