<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <!-- Source for name content meta info:
  https://teamtreehouse.com/community/media-query-works-in-browser-but-not-in-mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/app.css">
  <title></title>
</head>
<body>
  <header>
    <a href="/trips"><img class="logo" src="https://i.imgur.com/TasFtEe.png" alt="Logo of mountains"></a>
    <h3>MyTrip</h3>
  </header>
  <h2 class="title">My Trip Journal</h2>
    <div class="trip-journal">
      <p class="trip-journal-text">
        <strong>I went to <%=trips.nationalpark; %> national park.
        It is located in the state of <%=trips.state; %>.
        I went during the <%=trips.season; %> season, and
        my favorite memory was <%=trips.memory; %> Below is my
        favorite picture from the trip!</strong>
    </p>
    </div>

    <!-- Div for the image from user input -->
    <div class="user-image">
      <img src="<%=trips.img; %>" alt="">
    </div>
  </p>
  <div class="show-button">
    <form action="/trips">
      <input type="submit" name="" value="Back to Main Index">
    </form>
  </div>

</body>
</html>
