<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <title></title>
  </head>
  <body>
    <h1>Trips show page</h1>
      I went to <%=trips.nationalpark; %> national park.</br>
      It is located in the state of <%=trips.state; %>.</br>
      I went during the <%=trips.season; %>.</br>
      My favorite memory was <%=trips.memory; %></br>
      This is a picture:
      <div class="">
        <img src="<%=trips.img; %>" alt="">
      </div>

      <form action="/trips">
        <input type="submit" name="" value="Back to Main Index">
      </form>
  </body>
</html>
